<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
    <title>Home Page</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav__lists">
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#">HOME</a>
                </li>
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#About">ABOUT</a>
                </li>
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#">PRODUCTS</a>
                </li>
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#">SOLUTION</a>
                </li>
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#">GALLERY</a>
                </li>
                <li class="header__nav__lists__list_left">
                    <a class="header__nav__lists__list_link" href="#">CONTACT</a>
                </li>
                <li class="header__nav__lists__list_right">
                    <a class="header__nav__lists__list_link" href="tel:+375291234567">+375(29) 123-45-67</a>
                </li>
                <li class="header__nav__lists__list_right">
                    <a class="header__nav__lists__list_link" href="#">BUSKET</a>
                </li>
                <li class="header__nav__lists__list_right">
                    <a class="header__nav__lists__list_link" href="">SEARCH</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="section about">
            <h2 class="section-title">About</h2>
            <div class="container about__container">
                <div class="container__1__card_01">
                    <p class="container__1__card_fz13">01.</p>
                    <p class="container__1__card_bold">Bring your business online with a website</p>
                    <p class="container__1__card_fz13">Sell anything, from physical products</p>
                    <button class="container__1__card_btn__1">
                        Get Started
                    </button>
                    <button class="container__1__card_btn__2">
                        Learn More
                    </button>
                </div>
                <div class="container__1__card_02">
                    <p class="container__1__card_fz13">02.</p>
                    <p class="container__1__card_bold">Lowest fees in the industry. Pariod.</p>
                    <p class="container__1__card_fz13">Enjoy the lowest tees compared.</p>
                    <button class="container__1__card_btn__1">
                        Get Started
                    </button>
                    <button class="container__1__card_btn__2">
                        Learn More
                    </button>
                </div>
                <div class="container__1__card_03">
                    <p class="container__1__card_fz13">03.</p>
                    <p class="container__1__card_bold">Point of Sale done right.</p>
                    <p class="container__1__card_fz13">Our new Point of Sale devices are designed.</p>
                    <button class="container__1__card_btn__1">
                        Get Started
                    </button>
                    <button class="container__1__card_btn__2">
                        Learn More
                    </button>
                </div>
                <div class="container__1__woman">
                    <h2 class="container__1__woman_h2">Templates designed to sell.</h2>
                    <p class="container__1__woman_p">Choose from 100s of designs for every idea and industry.</p>
                    <button class="container__1__woman__btn">
                        Explore Templates
                    </button>
                </div>
                <div class="container__1_img">
                    <img class="container__1__image" src="../images/leaves.png" alt="" height="300px" width="200px">
                    <img class="container__1__image" src="../images/leaves.png" alt="" height="300px" width="200px">
                    <img class="container__1__image" src="../images/leaves.png" alt="" height="300px" width="200px">
                    <img class="container__1__image" src="../images/leaves.png" alt="" height="300px" width="200px">
                </div>
            </div>
           
        </section>

         <section class="section products">
            <h2 class="section-title">Products</h2>
            <div class="container">
                <div class="container__2__product">
                    <p class="container__2__product__p_number">01</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">02</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">03</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">04</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">05</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">06</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">07</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
                <div class="container__2__product">
                    <p class="container__2__product__p_number">08</p>
                    <img class="container__2__product__img" src="../images/flower.png" alt="" height="200px" width="100px">
                    <p class="container__2__product__title">Product Title</p>
                    <p class="container__2__product__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum beatae ratione delectus velit, error nisi sit dignissimos rerum deleniti quod dolorum consectetur a ipsum!</p>
                    <p class="container__2__product__price">200$</p>
                    <p class="container__2__product__name">Nicole Anderson</p>
                </div>
            </div>
        </section>
        <section class="section quotes">
            <div class="container quotes__container">
                <div class="quotes__item">
                    <img src="https://www.southendsmiles.com/wp-content/uploads/2020/09/AdobeStock_174544330.jpeg" alt="" class="quotes__img" width="500" height="355">                
                    <div class="quotes__content">
                        <p class="quotes__quote">Lorem ipsum <span class="quotes__quote_black">dolor sit amet consectetur adipisicing elit.Itaque</span> , laborum?</p>
                        <span class="quotes__user">Lorem, ipsum dolor. <br> Lorem, ipsum. <br> Lorem, ipsum dolor.</span>
                        <h3 class="quotes__title quotes__title_spacing">kinloo</h3>
                    </div>
                </div>
                <h3 class="quotes__title quotes__main-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h3>
                <div class="quotes__item">
                    <img src="https://www.southendsmiles.com/wp-content/uploads/2020/09/AdobeStock_174544330.jpeg" alt="" class="quotes__img" width="500" height="355">                
                    <div class="quotes__content">
                        <p class="quotes__quote">Lorem ipsum <span class="quotes__quote_black">dolor sit amet consectetur adipisicing elit.Itaque</span> , laborum?</p>
                        <span class="quotes__user">Lorem, ipsum dolor. <br> Lorem, ipsum. <br> Lorem, ipsum dolor.</span>
                        <h3 class="quotes__title quotes__title_spacing">kinloo</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="section gallery">
            <div class="container">
                <h2 class="section-title section-title_uppercase">gallery</h2>
                <div class="gallery__wrapper">
                    <div class="gallery__item">
                        <span class="gallery__item-suptitle">Go daddy studio</span>
                        <h3 class="gallery__item-title">Easily desing logos, ads, stories and beyond</h3>
                        <p class="gallery__item-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto exercitationem consequatur dignissimos vero aliquam quaerat!</p>
                        <button class="gallery__item-btn">Get Started</button>
                        <a href="" class="gallery__item-link">Read More</a>
                    </div>
                    <div class="gallery__item">
                        <span class="gallery__item-suptitle">Go daddy studio</span>
                        <h3 class="gallery__item-title">Easily desing logos, ads, stories and beyond</h3>
                        <p class="gallery__item-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto exercitationem consequatur dignissimos vero aliquam quaerat!</p>
                        <button class="gallery__item-btn">Get Started</button>
                        <a href="" class="gallery__item-link">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <button class="call-btn">call</button>
</body>
</html>